body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/Board.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
}

h1 {
    color: goldenrod;
    font-size: 65px;
    margin-bottom: 70px;
}

#message1 {
    font-style: italic;
}

button {
    color: #016f32;
    width: 100%;
    max-width: 280px;
    background-color: goldenrod;
    border: none;
    border-radius: 8px;
    display: block;
    justify-self: center;
    margin: 10px auto;
    font-weight: bold;
    padding: 12px;
    margin: 8px auto;

    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}

p {
    color: white;
    font-size: 28px;
    margin: 18px 0;

}

